﻿<div class="jumbotron" ng-controller="MainCtrl as vm">
    <h1 ng-click="vm.relaodSite()">What's you got?</h1>
    <p>Find out what deseases you might have.</p>
    <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-upload"></span> Upload data</a>
</div>
<div class="container-fluid text-center" ng-cloak>
    <div class="row content">
        <div ng-controller="SymptomsCtrl as vm" ng-init="vm.initLoadSymptoms()">
            <div class="col-sm-3 sidenav text-left">
                <h2>Symptoms</h2>
                <p>Symptoms count: <span ng-bind="vm.symptoms.length"></span></p>
                <div class="pre-scrollable">
                    <form>
                        <div class="checkbox" ng-repeat="symptom in vm.symptoms">
                            <h4><label><input type="checkbox" value="" ng-model="symptom.selected"><span ng-bind="symptom.name"></span></label></h4>
                        </div>
                    </form>
                </div>
                <a class="btn btn-warning btn-block" ng-click="vm.getDiagnosis()">GET DIAGNOSIS</a>
            </div>
            <div class="col-sm-6">
                <div ng-if="!vm.diagnosis.length && !vm.diagnosisMessage">
                    <div class="page-header text-left">
                        <h1>Welcome</h1>
                    </div>
                    <div class="container text-left">
                        <p>Please mark your symptoms and find out which deseases you might have.</p>
                        <p>If you want to load your own data, import .csv file by clicking on the "Upload data" link below website title.</p>
                    </div>
                </div>
                <div ng-if="vm.diagnosis.length || vm.diagnosisMessage">
                    <div class="page-header text-left">
                        <h1>You might have ...</h1>
                    </div>
                    <div class="panel-group text-left" ng-if="vm.diagnosis.length">
                        <small>To see desease's symptoms click on the name.</small>
                        <div class="panel panel-default" ng-repeat="desease in vm.diagnosis">
                            <div class="panel-heading {{vm.setProbabilityColor(desease.probability)}} text-left">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#diagnosis-panel{{desease.$id}}" ng-bind="desease.name"></a>
                                    <span class="probability">
                                        <span>Probability: </span><span ng-bind="(desease.probability*100).toFixed(0)"></span><span>%</span>
                                    </span>
                                </h4>
                            </div>
                            <div id="diagnosis-panel{{desease.$id}}" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="symptom in desease.symptoms" ng-bind="symptom.name"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!vm.diagnosis.length">
                        <h4 ng-bind="vm.diagnosisMessage"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 sidenav">
            <div class="well" ng-controller="SymptomsCtrl as vm" ng-init="vm.getTopSymptoms(3)">
                <h2>TOP 3 SYMPTOMS</h2>
                <ol class="text-left">
                    <li ng-repeat="symptom in vm.topSymptoms"><h4 ng-bind="symptom.name"></h4></li>
                </ol>
            </div>
            <div class="well" ng-controller="DeseasesCtrl as vm">
                <h2>TOP 3 DESEASES WITH MOST SYMPTOMS</h2>
                <ol class="text-left">
                    <li ng-repeat="desease in vm.topDeseases"><h4 ng-bind="desease.name"></h4></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<hr />
<footer class="container-fluid text-left">
    <h5>Net Group Summer University 2017 project <br /><small>by Mikk Sarapuu</small></h5>
</footer>

<!-- Modal File upload -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload data</h4>
            </div>
            <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <label for="file">Filename:</label><br />
                        <small>Supports .csv only!</small>
                        <input type="file" name="file" id="file" />
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default"/>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>