﻿[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.jumbotron {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #191970;
    color: #E0FFFF;
}

.jumbotron h1{
    cursor: pointer;
}

.max-gli {
    font-size: 75px;
    margin-top: 200px;
}

.probability {
    float:right;
}

.panel-heading.danger {
    background-color: #ff4500;
}

.panel-heading.serious {
    background-color: #ffa500;
}

.panel-heading.mild {
    background-color: #ffd700;
}